/* The main container style (1440*850), I split the screen to left and right side */
.container {
	font-family: 'Open Sans', sans-serif;
	background-color: #e5e5e5;
	display: flex;
	flex-direction: row;
	width: 1440px;
	height: 850px;
}

/* Left side style */
.left-side {
	width: 17%;
	height: 100%;
	padding: 5px;
	margin: 5px;
	flex-grow: 1;

	/* Left side style */
}
.right-side {
	margin-top: 10px;
	width: 83%;
	display: flex;
	flex-direction: column;
}

/* Side bar style */
.side-bar {
	width: 100%;
	height: 850px;
	border: 2px solid lightgray;
	background-color: white;
	box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}
.sass {
	padding: 15px;
}
.toggle {
	margin-top: 170px;
	margin-left: 5px;
}
.divider {
	width: 256px;
	height: 1px;
	left: 0px;
	top: 415px;
	background: #ebeff2;
}

.profile {
	display: flex;
	width: 208px;
	height: 46px;
	left: 24px;
	top: 10%;
	margin-top: 25px;
	margin-bottom: 30px;
}

.img {
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: -2.17%;
	background-image: url(image.png);
	background-repeat: no-repeat;
	padding: 20px;
	border-radius: 50%;
	margin: 5px;
}
.text {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	margin-left: 10px;
}

/* nav bar style */
.nav-bar {
	display: flex;
	width: 100%;
	height: 52px;
	border: 1px solid #ebeff2;
	background-color: white;
	justify-content: space-between;
	margin-left: -7px;
}
.nav-left-side {
	display: flex;
	width: 50%;
	align-items: center;
	margin-left: 30px;
}

.nav-right-side {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

/* The biggest div style */
.tasks-box {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 50%;
	height: 90%;
	background-color: white;
	padding: 20px;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-left: 40px;
	padding-bottom: 20px;
	border-radius: 4px;
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.prog-line {
	width: 80%;
	height: 5px;
	background-color: rgba(235, 239, 242, 1);
}

.inner-prog {
	width: 80%;
	height: 5px;
	background-color: rgba(46, 212, 122, 1);
	margin-bottom: 40px;
}

.squre2 {
	margin-right: 15px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.tempo {
	margin-top: 20px;
	margin-right: 15px;
	width: 95%;
	height: 67%;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	flex-wrap: wrap;
	flex-shrink: 1;
}
.squre3 {
	margin-right: 25px;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border: 2px solid lightgray;
	margin-bottom: 20px;
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}
#squre3 {
	border: none;
}
.squre3-left {
	width: 50%;
}

.squre4-left {
	width: 50%;
}

.squre3-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.roww {
	display: flex;
	justify-content: space-between;
}
.squre4-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#profile-image3 {
	border-radius: 50%;
}

.main-subsection {
	margin: 10px;
	height: 100%;
	width: 10%;
}
#suny {
	margin-top: 5px;
	margin-left: 5px;
}
.main-sub-text {
	justify-content: center;
}

.chart-box {
	width: 50%;
}

.right-up {
	display: flex;
	width: 100%;
	height: 5%;
}

.right-bottom {
	width: 100%;
	height: 95%;
	display: flex;
}
.tasks-box-right {
	width: 50%;
}

/* The medium  div style */

.upper-chart {
	margin-top: 40px;
	height: 42%;
	margin-bottom: 5px;
	background-color: white;
	width: 80%;
	margin-left: 40px;
	margin-bottom: 40px;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}
.lower-chart {
	margin-top: 5px;
	margin-left: 40px;
	height: 42%;
	background-color: white;
	width: 80%;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.sub-profile {
	display: flex;
	flex-direction: column;
}
.features {
	margin-bottom: 1em;
	margin-left: 1em;
}

.fe-name {
	align-items: flex-end;
	margin-left: 20px;
}

.sub-line {
	height: 15px;
	border-top: 1px solid rgb(201, 201, 201);
	justify-content: center;
}

.space-div {
	height: 200px;
}

.search-text {
	font-size: 15px;
	line-height: 16px;
	letter-spacing: 0.01em;
	color: #90a0b7;
	align-items: center;
}
/* The chart div style */

.upper-chart-top {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-between;
}
.show {
	margin-bottom: -19px;
	margin-left: -66px;
}
.lineD {
	border: 0.5px solid rgb(247, 233, 233);
}
.missons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 20px;
}
.submissons {
	display: flex;
	flex-direction: column;
}

.parent {
	position: relative;
	top: 0;
	left: 0;
}

.image1 {
	position: relative;
}

.image2 {
	position: absolute;
	left: 10px;
	bottom: 10px;
}

.image3 {
	position: relative;
}

.image4 {
	position: absolute;
	left: 2px;
	bottom: 10px;
}

.image5 {
	position: relative;
}

.image6 {
	position: absolute;
	left: 8px;
	bottom: 4px;
}
.image11 {
	position: relative;
}

.image111 {
	position: absolute;
	left: -3px;
	bottom: 6px;
}
.image14 {
	position: relative;
}

.image15 {
	position: absolute;
	left: 21px;
	bottom: 6px;
}
#imgre {
	border-radius: 50%;
}

#callI {
	margin-bottom: 50px;
	margin-left: 60px;
}
.enentI {
	margin-left: 30px;
}
#elip {
	margin-bottom: 13px;
	margin-left: -8px;
}

/* the style for phone screen (when it is shorter then 900px*/
@media (max-width: 900px) {
	.side-bar,
	.left-side,
	.lower-chart,
	.squre2,
	.squre1,
	.squre {
		display: none;
	}
	.container {
		background-color: white;
	}
	.tasks-box {
		height: 70%;
		background-color: white;
		align-items: flex-start;
		justify-content: center;
		margin-top: 13px;
		margin-left: 0px;
		border-radius: 4px;
		box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
	}
	.right-bottom {
		width: 55%;
	}
	.nav-bar {
		width: 375px;
	}
	.upper-chart {
		margin-top: 575px;
		height: 34%;
		margin-bottom: 5px;
		background-color: white;
		width: 80%;
		margin-left: -367px;
		margin-bottom: 40px;
		padding: 10px;
		border-radius: 4px;
	}
}
